html {
    font: size 22px;
}
body { background-color: black;
color:white ;

}


a{
    color: aliceblue;
}

a:visited{
    color: lightgray;
}  

a:hover, a:active{
    color: #eee;
}

 table,tr,th,td,caption{
    border: 22px solid #eee;
    size: 'Courier New', Courier, monospace ;
    border-collapse: collapse ;
    padding: 0.5rem;

 } 
 